# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/
dist/
coverage/
*.log

# Env
.env
.env.*
!.env.example

# .NET / C# build outputs
**/bin/
**/obj/
**/publish/
*.exe
*.pdb
*.dll

# VS / VS Code
.vscode/
.idea/
*.user
*.suo
